.Right__contents
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        テスト
      .group__memberList
        .group__member
          ゆう
    .RightHeader__edit
      = link_to "#" do
        = ('Edit')
  .Main__chat
  .Footer__form