.Left__contents
  .LeftHeader
    .LeftHeader__list
      Cory
      .LeftHeader__user
      .LeftHeader__iconList
        = link_to "#" do
          = icon('far', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')
  .GroupList
    .Group
      .Group__name
        cocoko
      .Group__message
        まだメッセージはありません
    .Group
      .Group__name
        cocoko
      .Group__message
        まだメッセージはありません