* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}


.Main__chat {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 35px 40px 0px;
}


.Chat__box {
  margin-bottom: 46px;
}


.Chat__info {
  display: flex;
}


.Message__user {
  color: #333333;
  font-size: 16px;
}


.Chat__date {
  color: #999999;
  font-size: 12px;
}


.Message {
  margin-top: 12px;
}


.Message__content {
  color: #434a5a;
  font-size: 14px;
}